@model IEnumerable<Test_Drive.Models.Cars>
@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>
                    Looking to
                    <span>book</span> a car
                </h1>
                <h2>
                    our cars are high quality with good price and
                    it has many other featuers
                </h2>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<main id="main">


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>How Its Works</h2>
                <h1>Rent With 3 Easy Strps</h1>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-map"></i></div>
                        <h4><a href="">choose a location</a></h4>
                        <p>Format your paragraph to give the reader a clear sense of the location and setting by listing off the most important information at the beginning of the paragraph.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-calendar-check"></i></div>
                        <h4><a href="">Pick-Up Date</a></h4>
                        <p>Format your paragraph to give the reader a clear sense of the location and setting by listing off the most important information at the beginning of the paragraph.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-calendar-star"></i></div>
                        <h4><a href="">Book a car</a></h4>
                        <p>Format your paragraph to give the reader a clear sense of the location and setting by listing off the most important information at the beginning of the paragraph.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section id="about" class="features">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>ABOUT US</h2>
                <h1>Best Customer Experience </h1>
            </div>
            <div class="row">
                <div class="image col-lg-6" style='background-image: url("~/assets/img/about.png");' data-aos="fade-right"></div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-receipt"></i>
                        <h4>Est labore ad</h4>
@*                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
*@                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Harum esse qui</h4>
@*                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
*@                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-images"></i>
                        <h4>Aut occaecati</h4>
@*                        <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
*@                    </div>
                    <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                        <i class="bx bx-shield"></i>
                        <h4>Beatae veritatis</h4>
@*                        <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
*@                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->



</main><!-- End #main -->
