@{
    ViewData["Title"] = "Login";
    Layout = null;

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #89c4f4;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(137, 196, 244, 1), rgba(245, 87, 108, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(137, 196, 244, 1), rgba(245, 87, 108, 1));
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form</h3>
                <p class="sub-header">
                    Welcome back
                </p>
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-2">
                        <label for="emailAddress" class="form-label">Email address<span class="text-danger">*</span></label>
                        <input type="email" name="Email" parsley-trigger="change" required
                               placeholder="Enter email" class="form-control" id="emailAddress">
                    </div>
                    <div class="mb-2">
                        <label for="pass1" class="form-label">Password<span class="text-danger">*</span></label>
                        <input id="pass1" name="Password" type="password" placeholder="Password" required
                               class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-8 text-start">

                            <a asp-action="signup">Sign Up</a>
                        </div>


                       
                    </div>
                    <div class="text-center">
                        <button value="check" class="btn btn-outline-success" type="submit">
                            Login
                        </button>
                    </div>
                    <div class="start">

                        <a asp-action="ForgotPassword">Forget password</a>
                    </div>

                </form>
            </div>
        </div> <!-- end card -->
    </div>
    <!-- end col -->
</div>
</div>
</section>